{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <title>Easy Ticket</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{% static 'images/fav.png' %}">

    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">


    {% include 'components/external_scripts.html' %}
    {% block header %}
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}
</head>
<body id="body">
{% include 'components/message.html' %}
{% block content %}
    <!-- Invoice Start-->
    <div class="invoice clearfix">
        <div class="">
            <div class="row justify-content-md-center">
                <div class="col-lg-8 col-md-10">
                    <div class="invoice-header justify-content-between">
                        <div class="invoice-header-logo">
                            <img src="{% static 'images/dark-logo.svg' %}" alt="invoice-logo">
                        </div>
                        <div class="invoice-header-text">
                            <a href="#" onclick="print()" class="download-link">Print</a>
                        </div>
                    </div>
                    <div class="invoice-body">
                        <div class="invoice_dts">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="invoice_title">Invoice</h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="vhls140">
                                        <ul>
                                            <li>
                                                <div class="vdt-list">Full Name: {{ booking.user.get_full_name }}</div>
                                            </li>
                                            <li>
                                                <div class="vdt-list">Email: {{ booking.user.email }}</div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="vhls140">
                                        <ul>
                                            <li>
                                                <div class="vdt-list">Invoice ID : {{ booking.id }}</div>
                                            </li>
                                            <li>
                                                <div class="vdt-list">Order Date : {{ booking.created_at }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-table bt_40">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Event Details</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Unit Price(NPR)</th>
                                        <th scope="col">Total(NPR)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="#" target="_blank">{{ booking.event.title }}</a>
                                        </td>
                                        <td>
                                            {% if booking.event.address %}
                                                <span class="badge bg-primary">Venue</span>
                                            {% endif %}

                                            {% if booking.event.link %}
                                                <span class="badge bg-success">Online</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ booking.quantity }}</td>
                                        <td>{{ booking.price }}</td>
                                        <td>{{ booking.total_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1"></td>
                                        <td colspan="5">
                                            <div class="user_dt_trans text-end pe-xl-4">
                                                <div class="totalinv2">Invoice Total :
                                                    NPR {{ booking.total_price }}</div>
                                                <p>Payment Status: {{ booking.status }}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice_footer">
                            <div class="main-card">
                                <div class="row g-0">
                                    <div class="col-lg-7">
                                        <div class="event-order-dt p-4">
                                            <div class="event-thumbnail-img">
                                                <img src="{{ booking.event.thumbnail_image.url }}" alt="">
                                            </div>
                                            <div class="event-order-dt-content">
                                                <h5>{{ booking.event.title }}</h5>
                                                <span>{{ booking.event.start_datetime }}</span>
                                                <div class="buyer-name">{{ booking.user.get_full_name }}</div>
                                                <div class="booking-total-tickets">
                                                    <i class="fa-solid fa-ticket rotate-icon"></i>
                                                    <span class="booking-count-tickets mx-2">{{ booking.quantity }}</span>x
                                                    Ticket
                                                </div>
                                                <div class="booking-total-grand">
                                                    Total : <span>NPR {{ booking.total_price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="QR-dt p-4">
                                            <ul class="QR-counter-type">
                                                <li>Barcode</li>
                                            </ul>
                                            <div class="QR-scanner">
                                                <img src="{{ booking.barcode_image.url }}"
                                                     style="width: 150px; height: 75px" alt="QR-Ticket-Scanner">
                                            </div>
                                            <p>Powered by Ticket Easy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Invoice End-->
    <style>
        @media print {
            @page {
                margin: 0;
            }

            body {
                margin: 0;
            }

            .invoice {
                font-size: 12px;
            }
        }
    </style>
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>
