<!-- Footer Start-->
{% load static %}
{% block header %}

{% endblock %}
<footer class="footer mt-auto">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Company</h4>
                        <ul class="footer-link-list">
                            <li><a href="about_us.html" class="footer-link">About Us</a></li>
                            <li><a href="contact_us.html" class="footer-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Useful Links</h4>
                        <ul class="footer-link-list">
                            <li><a href="privacy_policy.html" class="footer-link">Privacy Policy</a></li>
                            <li><a href="term_and_conditions.html" class="footer-link">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Resources</h4>
                        <ul class="footer-link-list">
                            <li><a href="pricing.html" class="footer-link">Pricing</a></li>
                            <li><a href="faq.html" class="footer-link">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Follow Us</h4>
                        <ul class="social-links">
                            <li><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-copyright-text">
                        <p class="mb-0">© 2024, <strong>Ticket Easy</strong>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->