{% extends 'base_basic.html' %}
{% load static %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <div class="app-form">
            <div class="app-form-sidebar">
                <div class="sidebar-sign-logo">
                    {#                    TODO: update logo#}
                    <img src="{% static 'images/sign-logo.svg' %}" alt="">
                </div>
                <div class="sign_sidebar_text">
                    <h1>The Easiest Way to Create Events and Sell More Tickets Online</h1>
                </div>
            </div>
            <div class="app-form-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="container mt-5">
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">Oops! unauthorized user.</h4>
                                <p>This page is restricted for you.If you think this is an error , please contact the support team.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-footer">
                    © 2024, Ticket Easy. All rights reserved.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'components/base_footer_script.html' %}
{% endblock %}
